*{
    padding:0; 
    margin: 0;
    background-color: aquamarine;
    color: black;
}

.game{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.title{
    position: absolute;
    top: 0;
    font-size: 4rem;
    z-index: 2;
}

.score{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    position: absolute;
    top: 100px;
    z-index: 1;
}

.player-count, .computer-count{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.options{
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.choiceBtn{
    padding: 0.8rem;
    width: 150px;
    border: 12px;
    background: green;
    outline: none;
    border-color: black;
    border: 5px;
    cursor: pointer;

}

.move{
    font-size: 3rem;
    font-weight: bold;
}

.result{
    margin-top: 20px;
    font-size: 1.4rem;
}

.reload{
    display: none;
    margin-top: 2rem;
    padding: 1.2rem;
    background: blue;
    outline: none;
    border: none;
    border: 12px;
    cursor: pointer;
}

img{
    border-radius: 4px;
    background: green;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}